<div ng-controller="applicationCtrl">
    <h1>Application</h1>
    <h2>{{userConnected.records.name}}</h2>
    <div ng-repeat="application in applications">
        Mon Application : {{application.title}}<br>
        slogan : {{application.slogan}}<br>
        <h4 ng-show="application.tags.length > 0">Mes Tags</h4>
        <div ng-repeat="tag in application.tags">
            - {{tag.name}}
        </div>
        <div>-----------------</div>
    </div>
    <a href="#/applications/create">Ajouter une application</a>
</div>