<div class="col-sm-6 col-md-4 col-md-offset-4">
    <form class="form col-md-12 center-block well" name="applicationCreateForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input class="form-control input-lg" ng-model="title" placeholder="Saisissez le titre" type="text" name="title" required>
        </div>
        <div class="form-group">
            <label for="web">Site Web</label>
            <input class="form-control input-lg" ng-model="web" placeholder="Saisissez votre Site web" type="text" name="web" required>
        </div>
        <div class="form-group">
            <label for="slogan">Slogan</label>
            <input class="form-control input-lg" ng-model="slogan" placeholder="Saisissez votre Site web" type="text" name="web" required>
        </div>

        <div class="form-group pull-center">
            <button class="btn btn-primary" ng-click="create()" ng-disabled="applicationCreateForm.$invalid">Ajouter</button>
        </div>
    </form>

</div>